node_modules
dist
.next
.turbo
coverage
.env
.env.local
.DS_Store
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/uploads
apps/web/.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
